/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

	.p-sidebar

		.nav-button-open
			display: inline-block

	p-sidebar
		display: none

	.content,
	.footer
		padding-right: 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

	.content
		padding-right: 0

	.header
		display: none

	.open-nav
		display: block

	.intro
		justify-content: center

		.intro-content
			margin-right: 0
			text-align: center

	.parallax-title
		display: none

	.resume-block__icon,
	.education-block__icon
		@include grid-column(2)

	.resume-block__name
		@include grid-column(10)

	.resume-block__info
		@include grid-column(12)


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.section
		padding: 25px 0 10px

	// about page
	.about-block
		margin-bottom: 10px

	.about-block__item
		@include grid-column(12)

	// porfolio page
	.projects-wrapper
		@include grid-column(12)
		@include grid-push(0)

	// skills page
	.skills

		.skills-card
			@include grid-column(12)

	.skills-content

		h2
			text-align: center

	// contacts page
	.form
		max-width: 100%
		padding: 20px

	.contact-info
		margin-top: 15px

	.contact-info__item
		@include grid-column(12)
		padding-bottom: 15px

	// footer

	.footer
		padding: 15px 15px 15px 15px

		.copyright
			@include grid-column(12)
			text-align: center

		.social-link
			@include grid-column(12)
			padding-top: 15px
			text-align: center

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)

	.intro

		.intro-content

			h1
				font-size: 50px

	.cv-download

		button
			display: block
			width: 80%
			margin: 0 auto 10px

	.resume-block__icon,
	.education-block__icon
		@include grid-column(12)
		text-align: right

	.resume-block__name
		@include grid-column(12)
		margin-bottom: 15px

	.resume-block__info
		@include grid-column(12)

	.skills-card
		@include grid-column(12)

	.projects-item
		@include grid-column(12)


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

