.contact-form
	@include grid-container

.form-item
	@include grid-column(5)

.contact-item
	@include grid-column(12)
	padding-top: 30px

	&__title
		@include grid-container

		h3
			color: $accent-color
			font-size: rem(18)
			text-align: center

		p
			text-align: center
			margin-top: 15px

		&:before
			+size(60px 2px)
			background-color: $accent-color
			content: ''
			display: block
			margin: 0 auto


	&__information
		@include grid-container

		.contact-info
			@include grid-column(4)

.contact-info
	text-align: center

	i
		+size(85px)
		background-color: #F5F5F5
		color: $accent-color
		border-radius: 50%
		margin-bottom: 20px
		font-size: rem(40)
		line-height: rem(85)

	p
		line-height: rem(18px)
		font-size: rem(14)
