portfolio

	.nav-button-open
		+position(fixed, 10px 10px null null)
		z-index: 20
		display: none

.p-sidebar

	.mat-sidenav
		width: 13em

	.mat-toolbar

		.mat-toolbar-row
			justify-content: flex-end
